@import "@/styles/variables.scss";

.container__footer {
	height: 10vh;
	padding: 0 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	background: $accentColor;
	width: 100%;

	span {
		font-weight: 700;
	}

	a {
		@extend .transitionSm;

		font-weight: 700;
		font-family: $mainFont;
		border-radius: 6px;
		padding: 0.5rem 1rem;
		font-size: 0.9rem;
		background: white;
		color: $accentColor;
		border: 2px solid white;

		&:hover {
			background: $accentColor;
			color: white;
		}
	}
}
