@import "@/styles/variables.scss";

.all-foods__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem 1rem;
  margin-top: 2rem;

  @media (width >= $mediaSm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width >= $mediaMd) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (width >= $mediaLg) {
    grid-template-columns: repeat(4, 1fr);
  }
}