@import "@/styles/variables.scss";

.categories__container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5rem;

	.categories__item {
		@extend .transitionMd;

		background: $accentWhite;
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 2rem 1rem;
		border-radius: 8px;

		&:hover {
			transform: translateY(-7.5%);
		}

		p {
			font-weight: 400;
		}
	}

	@media (width >= $mediaSm) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (width >= $mediaLg) {
		grid-template-columns: repeat(4, 1fr);
	}
}
