@import "@/styles/variables.scss";

.testimonials__slider {
	padding: 2rem 0;

	blockquote {
		font-family: $mainFont;
		color: $lightFontColor;
		line-height: 1.75;
	}

	.slider__testimonial .testimonial__row {
		margin-top: 2rem;
		display: flex;
		align-items: center;
		gap: 1rem;

		img {
			width: 48px;
			height: 48px;
			object-fit: cover;
			border-radius: 6px;
		}

		p {
			font-family: $mainFont;
			font-weight: 700;
			color: black;
		}
	}
}
